.attribute{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.attribute .title{
    color: saddlebrown;
    font-size: 0.8em;
    width: 30%;  
}
.attribute .data{
    font-size: 1.2em;
    width: 100%;
    height: auto;
    margin-left:20px;
   
}   
.container-launchview{
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}
.container-launchview img{
   max-width:600px;
    height: 500px;
    margin: auto;
}

