.container-launch{
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 3px 5px cadetblue;
}
.launch-image{
    width: 150px;
    flex-direction: column;
    margin-right: 20px;
}
.launch-image img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
.launch-data{
    flex-direction: row;
    width: 100%;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.launch-data-info{
    display : flex;
    height: 50px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-around;
}
.para p {
        margin-right: 5px;
        cursor: pointer;
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 1px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        padding: 2px;
    
}
a{
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .container-launch
    {
      display: flex ;
      justify-content: space-between;
      height: auto;
      width: 100%;
      margin:auto;
    }
    .launch-image{
        width: 150px;
        flex-direction: column;
        border: 1px solid black;
    
    }
    .launch-image img{
        width: 150px;
        height: 150px;
        border-radius: 20px;
    }
    .launch-data{
        display: flex;
        flex-direction: column;
       padding: 10px;
        border: 1px solid black;
        font-size: 5px;
        width: 100%;
        height: auto;
    }
    .launch-data .launch-data-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid red;
        line-height: 0;
        font-size: 6.5px;
        width: 100%;
        height: 50px;
    }
    .launch-data .para{
        font-size: 10px;
    }

    
  }